/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2017, 6:32:16 PM
    Author     : kevin
*/

h1
{
color:red;
text-align:center;
}

body{
    background-color:#ff6347;
}